@use "../../sass/variables";

@media screen and (max-width: 1199px) {
    .header{
        > .container{
            gap: 0;
        }

        &-buttons{
            margin-left: auto;
        }

        .mobile-container {
            display: none;
            padding-top: 30px;
            position: fixed;
            top: 82px;
            bottom: 0;
            right: 0;
            left: 0;
            max-width: 100vw;
            max-height: 100vh;
            background: #043873;
            align-items: flex-start;
            justify-content: center;

            &.show{
                display: flex;
            }
        }

        .menu{
            &__item{
                flex-direction: column;
                gap: 0;
                width: 100%;
            }

            &__list{
                padding: 0 10px;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            &__link{
                width: 100%;
                gap: 5px;

                svg{
                    margin-left: auto;
                }
            }

            &-dropdown{
                position: relative;
                top: 0;
                left: 0;
                border-radius: 8px;
                min-width: 150px;
                background: #043873;
                text-align: center;
                box-shadow: none;

                &__link{
                    color: variables.$text-color-light;
                }
            }
        }

        .btn-burger{
            display: inline-block;
            margin-left: 20px;
        }
    }

    .management{
        &-title{
            &::before{
                top: -35%;
                left: -30%;
                width: 357px;
                height: 271px;
                background-image: url("./assets/img/management-bkg-m.svg");
                transform: rotate(-20deg);
            }
        }
    }
}
