@use "../../sass/variables";

@media screen and (max-width: 767px) {

    .container{
        padding: 0 20px ;
    }

    .header{
        .header-buttons{
            display: none;
        }

        .menu-buttons{
            display: flex;
            flex-direction: column;
        }

        .mobile-container{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            top: 65px;
        }
    }

    .first-screen{
        &-content{
            &__title{
                font-size: 36px;
            }
        }

        & > .container{
            padding: 80px 16px;
        }

        &::before{
            background-image: url("./assets/img/fs-stroke-sm.svg");
            transform: translate(-22%, -85%);
        }
    }

    .management{
        &-title,&-work-title{
            font-size: 54px;
        }         

        .management-content{
            .management-title{
                &::before{
                    left: -55%;
                }
            }
            .management-title__line {
                top: -25px;
                left: 190px;
            }
        }

        &-work{
            &-title__line {
                right: -135px;
                top: -23px;
            }
        }
    }

    .customise{
        & > .container{
            .customise-content{
                .customise-title{
                    .customise-title__line{
                        top: -25px;
                        left: 255px;
                    }
                }
            }
        }
    }

    .plan{
        &>.container {
            .plan-content {
                .plan-title {
                    font-size: 44px;
                    &__line {
                        top: -38px;
                        right: -30px;
                        max-width: 380px;

                    }
                }
            }

            .swiper-plan{
                max-width: 471px;
            }
            
            .swiper-slide {
                max-width: 472px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .work-everywhere{
        &-content{
            max-width: 530px;
        }

        &__title{
            &-line{
                right: -80px;
            }
        }
    }

    .your-data{
        & > .container{
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .sponsors{
        & > .container{
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .footer{
        &-row, &-col, &-nav{
            align-items: center;
        }

        &-row{
            margin-bottom: 80px;
            gap: 80px;
        }

        &-bottom{
            &__list{
                flex-direction: column;
                gap: 20px;
            }
        }

        &-contacts{
            margin: 0 auto;
        }
    }
}
