@use "../../sass/variables";

@media screen and (max-width: 1399px) {
    .header{
        > .container{
            gap: 30px
        }
    }

    .management{
        &-title{
            &::before{
                top: -35%;
                left: -60%;
            }
        }
    }

    .extension{
        &-content {
            max-width: 597px;
        }
    }

    .customise{
        & > .container{
            gap: 60px;

            .customise-img {
                min-width: 550px;
            }

            .customise-content{
                max-width: 646px;

                .customise-title{
                    .customise-title__line{
                        max-width: 490px;
                    }
                }
            }
        }
    }
}

