@use "../../sass/variables";

@media screen and (max-width: 575px) {
    .header{
        &-logo{
            img{
                max-width: 134px;
            }
        }

        .mobile-container{
            top: 55px;
            gap: 30px;
        }

        .menu__list{
            gap: 22px
        }

    }

    .management{
        &-title,&-work-title{
            font-size: 36px;
        }

        .management-content{
            .management-title{
                max-width: 288px;
                &::before{
                    left: -40%;
                    width: 169px;
                    height: 210px;
                    background-image: url("./assets/img/management-bkg-s.svg");
                }
            }

            .management-title__line {
                top: 3px;
                left: 51px;
            }

            .btn.btn-primary.btn-arrow {
                font-size: 18px;
            }
        }

        &-work{
            &-title__line {
                right: -90px;
                top: -40px;
            }

            &-content{
                .btn.btn-primary.btn-arrow {
                    font-size: 18px;
                }
            }
        }
    }

    .footer{
        &-logo{
            img{
                content: url("./assets/img/logo.svg");
            }
        }

        #try-btn{
            font-size: 18px;
        }
    }
}
