@use "../../sass/variables";

@media screen and (max-width: 1024px) {

    .first-screen{
        & > .container{
            flex-direction: column;
            text-align: center;
            padding: 140px 20px 100px;
        }

        &-content{
            &__title{
                font-size: 54px;
            }
        }

        .btn {
            margin-left: auto;
            margin-right: auto;
            padding: 20px 30px;
            margin-bottom: 100px;
        }

        &::before{
            background-image: url("./assets/img/fs-stroke-md.svg");
            transform: translate(-30%, -81%);
        }
    }

    .management{
        & > .container {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &-info{
            flex-direction: column;
            align-items: center;

            .management-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                max-width: none;

                .management-title{
                    &::before{
                        top: -55%;
                        left: -45%;
                        transform: rotate(0deg)
                    }
                }
            
                .management-title__line {
                    top: -8px;
                    left: 245px;
                }

                .btn.btn-primary.btn-arrow {
                    font-size: 16px;
                }
            }

            .management-image {
                max-width: 561px;
            }
        }

        &-work {
            flex-direction: column-reverse;
            align-items: center;

            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                max-width: none;

                .btn.btn-primary.btn-arrow {
                    font-size: 16px;
                }
            }

            &-title__line {
                right: -137px;
                top: -5px;
            }

            &-img{
                max-width: 454px;
            }
        }
    }

    .footer{
        &-row {
            flex-direction: column;
            gap: 100px;
            margin-bottom: 100px;
        }

        &-description{
            max-width: 500px;
            margin-bottom: 0;
        }

        &-logo{
            margin-bottom: 24px;
            img{
                content: url("./assets/img/footer-logo-big.svg");
            }
        }

        #try-btn, .try-title {
            margin-left: auto;
            margin-right: auto;
        }

        .try-description{
            font-size: 18px;
        }

        &-nav{
            &__link{
                font-size: 18px;
            }
        }

        &-bottom {
            border: none;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 0;

            &__span {
                display: inline-block;
                margin: 20px 0;
            }

            &__info{
                width: 100%;
            }

            &__list{
                max-width: 825px;
                width: 100%;
                justify-content: space-between;
                gap: 15px;
            }
        }
       
    }
    
}


