@use "../../sass/variables";

@media screen and (max-width: 767px) {
    .header{
        .header-buttons{
            display: none;
        }

        .menu-buttons{
            display: flex;
            flex-direction: column;
        }

        .mobile-container{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            top: 65px;
        }
    }
}
