@use "../../sass/variables";

@media screen and (max-width: 1199px) {
    .header{
        > .container{
            gap: 0;
        }

        &-buttons{
            margin-left: auto;
        }

        .mobile-container {
            display: none;
            padding-top: 30px;
            position: fixed;
            top: 82px;
            bottom: 0;
            right: 0;
            left: 0;
            max-width: 100vw;
            max-height: 100vh;
            background: #043873;
            align-items: flex-start;
            justify-content: center;

            &.show{
                display: flex;
            }
        }

        .menu{
            &__item{
                flex-direction: column;
                gap: 0;
                width: 100%;
            }

            &__list{
                padding: 0 10px;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            &__link{
                width: 100%;
                gap: 5px;

                svg{
                    margin-left: auto;
                }
            }

            &-dropdown{
                position: relative;
                top: 0;
                left: 0;
                border-radius: 8px;
                min-width: 150px;
                background: #043873;
                text-align: center;
                box-shadow: none;

                &__link{
                    color: variables.$text-color-light;
                }
            }
        }

        .btn-burger{
            display: inline-block;
            margin-left: 20px;
        }
    }

    .management{
        &-title{
            &::before{
                top: -35%;
                left: -30%;
                width: 357px;
                height: 271px;
                background-image: url("./assets/img/management-bkg-m.svg");
                transform: rotate(-20deg);
            }
        }
    }

    .extension{
        &-content {
            max-width: 528px;

            .extension-title{
                font-size: 64px;
                 &__line{
                    top: 63px;
                    left: 27px;
                }
            }
        }
    }

    .customise{
        & > .container{
            
            .customise-img {
                min-width: 465px;
            }

            .customise-content{
                max-width: 494px;

                .customise-title{
                    font-size: 64px;
                    .customise-title__line{
                        max-width: 400px;
                    }
                }
            }
        }
    }

    .plan{
        &>.container {
            .plan-content {
                .plan-title {
                    font-size: 64px;
                    &__line {
                        top: -20px;
                    }
                }
            }
        }
    }

    .work-everywhere{
        &-content{
            align-items: flex-start;
            max-width: 650px;
            margin: 0;
        }

        &__title{
            font-size: 64px;

            &-line{
                top: 60px;
                right: -100px;
            }
        }
    }

    .your-data{
        &-text {
            max-width: 526px;
        }

        &-title {
            font-size: 64px;

            &__line{
                top: -15px;
            }
        }
    }

    .sponsors{
        &-title {
            font-size: 64px;

            &__line {
                top: -17px;
                right: -130px;
            }
        }  
    }

    .favourite-apps{
        &-title{
            font-size: 64px;
        }

        &-text{
            max-width: 460px;
        }
    }

    .clients-say{
        &-comment{
            &-user {
                &__avatar {
                    margin-right: 24px;
                }
            }
        }
    }
}
