@use "../../sass/variables";

@media screen and (max-width: 1024px) {
    .footer{
        &-row {
            flex-direction: column;
            gap: 100px;
            margin-bottom: 100px;
        }

        &-description{
            max-width: 500px;
            margin-bottom: 0;
        }

        &-logo{
            margin-bottom: 24px;
            img{
                content: url("./assets/img/footer-logo-big.svg");
            }
        }

        #try-btn, .try-title {
            margin-left: auto;
            margin-right: auto;
        }

        .try-description{
            font-size: 18px;
        }

        &-nav{
            &__link{
                font-size: 18px;
            }
        }

        &-bottom {
            border: none;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 0;

            &__span {
                display: inline-block;
                margin: 20px 0;
            }

            &__info{
                width: 100%;
            }

            &__list{
                max-width: 825px;
                width: 100%;
                justify-content: space-between;
                gap: 15px;
            }
        }
       
    }
    
}


