@use "../../sass/variables";

@media screen and (max-width: 1399px) {
    .header{
        > .container{
            gap: 30px
        }
    }

    .management{
        &-title{
            &::before{
                top: -35%;
                left: -60%;
            }
        }
    }
}

