@use "../../sass/variables";

@media screen and (max-width: 575px) {
    .header{
        &-logo{
            img{
                max-width: 134px;
            }
        }

        .mobile-container{
            top: 55px;
            gap: 30px;
        }

        .menu__list{
            gap: 22px
        }

    }

    .management{
        &-title,&-work-title{
            font-size: 36px;
        }

        .management-content{
            .management-title{
                max-width: 288px;
                &::before{
                    left: -40%;
                    width: 169px;
                    height: 210px;
                    background-image: url("./assets/img/management-bkg-s.svg");
                }
            }

            .management-title__line {
                top: 3px;
                left: 51px;
            }

            .btn.btn-primary.btn-arrow {
                font-size: 18px;
            }
        }

        &-work{
            &-title__line {
                right: -90px;
                top: -40px;
            }

            &-content{
                .btn.btn-primary.btn-arrow {
                    font-size: 18px;
                }
            }
        }
    }

    .extension{
        & > .container {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        &-content{
            max-width: 288px;
            .extension-title {
                font-size: 36px;

                &__line {
                    top: 0px;
                    left: 82px;
                }
            }

            .btn.btn-primary.btn-arrow{
                font-size: 18px;
            }
        }
    }

    .customise{
        & > .container{
            padding-top: 100px;
            padding-bottom: 100px;

            .customise-img {
                min-width: 288px;
            }

            .customise-content{
                max-width: 288px;

                .customise-title{
                    font-size: 36px;
                    .customise-title__line{
                        max-width: 300px;
                        top: 1px;
                        left: 85px;
                    }
                }

                .btn.btn-primary.btn-arrow{
                    font-size: 16px;
                }
            }
        }
    }

    .plan{
        &>.container {
            padding-top: 80px;
            padding-bottom: 80px;
            .plan-content {
                max-width: 288px;

                .plan-title {
                    font-size: 36px;
                    &__line {
                        top: 0px;
                        right: 10px;
                        max-width: 200px;
                    }
                }
            }

            .swiper-slide,.swiper-slide-active{
                .plan-price {
                    padding: 20px;
                    
                     &__btn{
                        font-size: 18px;
                     }
                }
            }
        }
    }

    .work-everywhere{
        &::before{
            display: none;
        }
        
        & > .container{
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &-content{
            margin: 0 auto;
            align-items: center;
            max-width: 288px;

            & > button{
                font-size: 18px;
            }
        }

        &__title{
            font-size: 36px;

            &-line{
                right: -45px;
            }
        }
    }

    .your-data{
        &-text {
            max-width: 288px;
            
            & > button{
                font-size: 18px;
            }
        }

        &-img{
            max-width: 288px;
        }

        &-title {
            font-size: 36px;

            &__line{
                top: -45px;
                right: -95px;
                max-width: 300px;
            }
        }
    }

    .sponsors{
        &-title {
            font-size: 36px;

            &__line {    
                top: -40px;
                right: -75px;
                max-width: 300px;
            }
        }
    }

    .favourite-apps{
        &::after{
            transform: translate(-40%, -25%) rotate(20deg);
        }

        &-title{
            font-size: 36px;
        }
    }

    .footer{
        &-logo{
            img{
                content: url("./assets/img/logo.svg");
            }
        }

        #try-btn{
            font-size: 18px;
        }
    }
}
