@use 'variables';

.favourite-apps{
    position: relative;
    z-index: -3;
    background: variables.$primary-color-dark;
    overflow: hidden;

    &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2042px;
        height: 701px;
        background-image: url(./assets/img/apps-stroke.svg);
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }

    &-wrapper{
        margin-right: 50px;
        z-index: 1;
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 798px;
    }

    &-title {
        color: white;
        margin-bottom: 23px;
        z-index: 1;
    }

    &-description {
        font-size: 18px;
        margin-bottom: 60px;
    }
}