@use "variables";


.example {
    text-align: center;
    color: variables.$text-color-dark;

    figure {
        margin: 48px auto 24px;
        width: 100%;
        max-width: 280px;
        background: variables.$bg-color;
        padding: 12px;
    }
}