@use "variables";

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.ttf') format('true-type');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Medium.ttf') format('true-type');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-SemiBold.ttf') format('true-type');
    font-weight: 600; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.ttf') format('true-type');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DMSans';
    src: url('./assets/fonts/DMSans-Medium.ttf') format('true-type');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}
