@use "variables";

footer {
    height: 96px;
    background: variables.$bg-color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
    color: variables.$text-color-dark;
}