@use "variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: variables.$font-size-base;
    font-family: variables.$font-primary;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; // iOS
}

body {
    min-height: 100vh;
    line-height: 1;
    text-rendering: optimizeSpeed;
    font-size: variables.$font-size-base;
    background: variables.$bg-color;
    color: variables.$text-color-light;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

input,
button,
textarea,
select {
    font-family: variables.$font-primary;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img:not([alt]),
img[alt=""] {
    filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    color: variables.$text-color-dark;
    margin-bottom: 1em;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.375rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.75rem;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.container{
    max-width: 1544px;
    padding: 0 32px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    display: inline-block;
    border: none;
    border-radius: 8px;
    padding: 20px 40px;
    background: transparent;
    color: variables.$text-color-light;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none; 

    &:hover{
        opacity: .9;
    }

    &.btn-primary{
        background: variables.$primary-color-light;

        &.btn-arrow{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }


    &.btn-secondary{
        background: variables.$secondary-color-accent;
        color: variables.$primary-color-dark
    }
}

#try-btn {
    margin-right: auto;
}

#ckeck-mark{
    width: 20px;
    height: 20px;
}

.arw-down{
    width: 29px;
    height: 24px;
    color:#ffffff;
}

.svg-sprite{
    display: none;
}

.scroll-stop{
    overflow: hidden;
}

footer {
    margin-top: auto;
}

::selection {
    background-color: variables.$primary-color-light;
}