@use "variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: variables.$font-size-base;
    font-family: variables.$font-primary;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; // iOS
}

body {
    min-height: 100vh;
    line-height: 1;
    text-rendering: optimizeSpeed;
    font-size: variables.$font-size-base;
    background: variables.$bg-color;
    color: variables.$text-color-light;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

input,
button,
textarea,
select {
    font-family: variables.$font-primary;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img:not([alt]),
img[alt=""] {
    filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    color: variables.$text-color-dark;
    margin-bottom: 1em;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.375rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.75rem;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}

footer {
    margin-top: auto;
}

::selection {
    background-color: variables.$primary-color-light;
}