@use 'variables';

.sponsors{
    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    &-title {
        position: relative;
        margin-bottom: 100px;

        &__line {
            position: absolute;
            color: variables.$secondary-color-accent;
            top: -17px;
            right: -130px;
            max-width: 450px;
            width: 100%;
            z-index: -1;
        }
    }

    &-list {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__item {
            cursor: pointer;
        }
    }    
}

