///fonts///
$font-primary: "Inter", sans-serif;
$font-secondary: "DMSans", sans-serif;
$font-size-base: 16px;

///colors///
$primary-color-dark: #043873;
$primary-color-light: #4F9CF9;
$secondary-color-accent: #FFE492; 
$secondary-color-soft: #A7CEFC;   
$color-white: #FFFFFF;           
$color-dark: #212529; 

$bg-color: #FFFFFF;

$text-color-light: #FFFFFF;
$text-color-dark: #212529;
