@use "variables";

.work-everywhere{
    position: relative;
    z-index: -3;
    background: variables.$primary-color-dark;

    &::before{
        content: "";
        position: absolute;
        top: -120px;
        left: -260px;
        width: 647px;
        height: 657px;
        background-image: url("./assets/img/work-everywhere-bg.svg");
        background-repeat: no-repeat;
        z-index: 1;
    }

    & > .container{
        overflow-x: hidden;
    }

    &-content{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1064px;
        width: 100%;
        margin: 0 auto;
        z-index: 1;
    }

    &__title {
        position: relative;
        color: variables.$text-color-light;
        margin-bottom: 24px;

        &-line {
            position: absolute;
            top: -14px;
            right: -148px;
            max-width: 400px;
            width: 100%;
            z-index: -1;
            color: variables.$primary-color-light;
        }
    }

    &__description {
        position: relative;
        max-width: 1064px;
        width: 100%;
        font-size: 18px;
        text-align: center;
        margin-bottom: 60px;
    }

}