@use 'variables';

.your-data{
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 800px;
    }

    &-title {
        margin-bottom: 24px;
        position: relative;

        &__line{
            position: absolute;
            top: -10px;
            right: -165px;
            max-width: 500px;
            width: 100%;
            color: variables.$secondary-color-accent;
            z-index: -1;
        }
    }

    &-description {
        color: black;
        font-size: 18px;
        font-family: "Inter", sans-serif;
        margin-bottom: 60px;
    }

    &-img {
        max-width: 681px;
        width: 100%;
    }
}

