<section class="clients-say">
    <div class="container">
        <div class="clients-say-content">
            <h1 class="clients-say-title">
                What Our Clients Says
                <svg class="clients-say-title__line">
                    <use href="#title-line"></use>
                </svg>
            </h1>
            <div class="swiper clients-say-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="clients-say-comment">
                            <div class="clients-say-comment-text-wrapper">
                                <img src="./assets/img/clients-say-dec.svg" alt="decorative icon" class="clients-say-comment__decorative-icon">
                                <p class="clients-say-comment__text">Whitepate is designed as a collaboration tool for businesses that is a full project management solution.</p>
                            </div>
                            <div class="clients-say-comment-user">
                                <img class="clients-say-comment-user__avatar" src="./assets/img/client1.png" alt="User Avatar">
                                <div class="clients-say-comment-user__info">
                                    <p class="clients-say-comment-user__name">Oberon Shaw, MCH</p>
                                    <p class="clients-say-comment-user__position">Head of Talent Acquisition, North America</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients-say-comment">
                            <div class="clients-say-comment-text-wrapper">
                                <img src="./assets/img/clients-say-dec.svg" alt="decorative icon" class="clients-say-comment__decorative-icon">
                                <p class="clients-say-comment__text">Whitepate is designed as a collaboration tool for businesses that is a full project management solution.</p>
                            </div>
                            <div class="clients-say-comment-user">
                                <img class="clients-say-comment-user__avatar" src="./assets/img/client2.png" alt="User Avatar">
                                <div class="clients-say-comment-user__info">
                                    <p class="clients-say-comment-user__name">Oberon Shaw, MCH</p>
                                    <p class="clients-say-comment-user__position">Head of Talent Acquisition, North America</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients-say-comment">
                            <div class="clients-say-comment-text-wrapper">
                                <img src="./assets/img/clients-say-dec.svg" alt="decorative icon" class="clients-say-comment__decorative-icon">
                                <p class="clients-say-comment__text">Whitepate is designed as a collaboration tool for businesses that is a full project management solution.</p>
                            </div>
                            <div class="clients-say-comment-user">
                                <img class="clients-say-comment-user__avatar" src="./assets/img/client3.png" alt="User Avatar">
                                <div class="clients-say-comment-user__info">
                                    <p class="clients-say-comment-user__name">Oberon Shaw, MCH</p>
                                    <p class="clients-say-comment-user__position">Head of Talent Acquisition, North America</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="clients-say-pagination"></div>
            </div>
        </div>
    </div>
</section>