<section class="customise">
    <div class="container">
        <div class="customise-img">
            <img src="./assets/img/customise.svg" alt="customise image" class="customise-img">
        </div>
        <div class="customise-content">
            <h1 class="customise-title">
                Customise it to your needs
                <svg class="customise-title__line">
                    <use href="#title-line"></use>
                </svg>
            </h1>
            <p class="customise-description">
                Customise the app with plugins, custom themes and multiple text editors (Rich Text or Markdown). Or create your own scripts and plugins using the Extension API.
            </p>
            <button class="btn btn-primary btn-arrow">
                Let’s Go
                <img src="./assets/img/arrow-right.svg" alt="arrow right">
            </button>
        </div>
    </div>
</section>