<section class="extension">
    <div class="container">
        <div class="extension-content">
            <h1 class="extension-title">
                Use as Extension
                <svg class="extension-title__line">
                    <use href="#title-line"></use>
                </svg>
            </h1>
            <p class="extension-description">Use the web clipper extension, available on Chrome and Firefox, to save web pages or take screenshots as notes.</p>
            <button class="btn btn-primary btn-arrow">
                Let’s Go
                <img src="./assets/img/arrow-right.svg" alt="arrow right">
            </button>
        </div>
        <div class="extension-img">
            <img src="./assets/img/extension.svg" alt="exteension image">
        </div>
    </div>
</section>