<section class="favourite-apps">
    <div class="container">
        <div class="favourite-apps-content">
            <div class="favourite-apps-wrapper">
                <img src="./assets/img/apps.svg" alt="avourite apps img" class="favourite-apps-img">
            </div>
            <div class="favourite-apps-text">
                <h1 class="favourite-apps-title">Work with Your Favorite Apps Using whitepace</h1>
                <p class="favourite-apps-description">Whitepace teams up with your favorite software. Integrate with over 1000+ apps with Zapier to have all the tools you need for your project success.</p>
                <button class="btn btn-primary btn-arrow">
                    Read more
                    <img src="./assets/img/arrow-right.svg" alt="" class="favourite-apps-btn-arrow">
                </button>
            </div>
        </div>
    </div>
</section>