<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#188de7">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>whitepace</title>
    <link rel="icon" href="./assets/img/wfavicon.svg" type="image/svg+xml"/>
    <link rel="mask-icon" href="./assets/img/wfavicon.svg" color="#188de7">
    <link rel="stylesheet" href="./assets/css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body id="body">
