<header class="header">
    <div class="container">
        <a href="index.html" class="header-logo">
            <img src="./assets/img/logo.svg" alt="whitepace logo">
        </a>

        <div id="mobile-container" class="mobile-container">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Products
                            <svg class="arw-down">
                                <use href="#arrow-down"></use>
                            </svg>
                        </a>
                        <ul class="menu-dropdown">
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">Overview</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">Customer stories</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Solutions
                            <svg class="arw-down">
                                <use href="#arrow-down"></use>
                            </svg>
                        </a>
                        <ul class="menu-dropdown">
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">For Personal Users</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">For Organizations</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Resources
                            <svg class="arw-down">
                                <use href="#arrow-down"></use>
                            </svg>
                        </a>
                        <ul class="menu-dropdown">
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">Blog</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">Guides & tutorials</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">Help center</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Pricing
                            <svg class="arw-down">
                                <use href="#arrow-down"></use>
                            </svg>
                        </a>
                        <ul class="menu-dropdown">
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">For Personal Users</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">For Organizations</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a href="#" class="menu-dropdown__link">Promotions</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="menu-buttons">
                <a href="#" class="btn btn-secondary">Login</a>
                <a href="#" class="btn btn-primary btn-arrow">
                    Try Whitepace free
                    <img src="./assets/img/arrow-right.svg" alt="arrow right">
                </a>
            </div>
        </div>

        <div class="header-buttons">
            <a href="#" class="btn btn-secondary">Login</a>
            <a href="#" class="btn btn-primary btn-arrow">
                Try Whitepace free
                <img src="./assets/img/arrow-right.svg" alt="arrow right">
            </a>
        </div>

        <button id="btn-burger" class="btn btn-burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>

