<section class="plan">
    <div class="container">
        <div class="plan-content">
            <h1 class="plan-title">
                Choose Your Plan
                <svg class="plan-title__line">
                    <use href="#title-line"></use>
                </svg>
            </h1>
            <p class="plan-description">Whether you want to get organized, keep your personal life on track, or boost workplace productivity, Evernote has the right plan for you.</p>
        </div>
        <div class="swiper swiper-plan">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="plan-price">
                        <div class="plan-price__head">
                            <p class="plan-price__name">Free</p>
                            <h4 class="plan-price__price">$0</h4>
                            <p class="plan-price__description">Capture ideas and find them quickly</p>
                        </div>
                        <div class="plan-price__points">
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Sync unlimited devices
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                10 GB monthly uploads
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                200 MB max. note size
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Customize Home dashboard and access extra widgets
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Connect primary Google Calendar account
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Add due dates, reminders, and notifications to your tasks
                            </p>
                        </div>
                        <button class="btn plan-price__btn">Get Started</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan-price">
                        <div class="plan-price__head">
                            <p class="plan-price__name">Personal</p>
                            <h4 class="plan-price__price">$11.99</h4>
                            <p class="plan-price__description">Keep home and family on track</p>
                        </div>
                        <div class="plan-price__points">
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Sync unlimited devices
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                10 GB monthly uploads
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                200 MB max. note size
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Customize Home dashboard and access extra widgets
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Connect primary Google Calendar account
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Add due dates, reminders, and notifications to your tasks
                            </p>
                        </div>
                        <button class="btn plan-price__btn">Get Started</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan-price">
                        <div class="plan-price__head">
                            <p class="plan-price__name">Organization</p>
                            <h4 class="plan-price__price">$49.99</h4>
                            <p class="plan-price__description">Capture ideas and find them quickly</p>
                        </div>
                        <div class="plan-price__points">
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Sync unlimited devices
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                10 GB monthly uploads
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                200 MB max. note size
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Customize Home dashboard and access extra widgets
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Connect primary Google Calendar account
                            </p>
                            <p class="plan-price__point">
                                <svg class="plan-price__svg">
                                    <use href="#ckeck-mark"></use>
                                </svg>
                                Add due dates, reminders, and notifications to your tasks
                            </p>
                        </div>
                        <button class="btn plan-price__btn">Get Started</button>
                    </div>
                </div>
            </div>
        <div class="swiper-pagination"></div>
        </div>
    </div>
</section>