<section class="management">
    <div class="container">
        <div class="management-info">
            <div class="management-content">
                <h1 class="management-title">Project Management
                    <svg class="management-title__line">
                        <use href="#title-line"></use>
                    </svg>
                </h1>
                <p class="management-description">Images, videos, PDFs and audio files are supported. Create math expressions and diagrams directly from the app. Take photos with the mobile app and save them to a note.</p>
                <button class="btn btn-primary btn-arrow">
                    Get Started
                    <img src="./assets/img/arrow-right.svg" alt="arrow right">
                </button>
            </div>
            <div class="management-image">
                <img src="./assets/img/management-img1.svg" alt="management image">
            </div>
        </div>
        <div class="management-work">
            <div class="management-work-img">
                <img src="./assets/img/work-together-img.svg" alt="work together">
            </div>
            <div class="management-work-content">
                <h1 class="management-work-title">Work together
                    <svg class="management-work-title__line">
                        <use href="#title-line"></use>
                    </svg>
                </h1>
                <p class="management-work-description">With whitepace, share your notes with your colleagues and collaborate on them. You can also publish a note to the internet and share the URL with others.</p>
                <button class="btn btn-primary btn-arrow">
                    Try it now
                    <img src="./assets/img/arrow-right.svg" alt="arrow right">
                </button>
            </div>
        </div>
    </div>
</section>