<section class="sponsors">
    <div class="container">
        <h1 class="sponsors-title">
            Our Sponsors
            <svg class="sponsors-title__line" >
                <use href="#title-line"></use>
            </svg>
        </h1>
        <div class="sponsors-list">
            <a href="#" class="sponsors-list__item">
                <img src="./assets/img/Apple.svg" alt="Apple" class="sponsors-list__logo">
            </a>
            <a href="#" class="sponsors-list__item">
                <img src="./assets/img/Microsoft.svg" alt="Microsoft" class="sponsors-list__logo">
            </a>
            <a href="#" class="sponsors-list__item">
                <img src="./assets/img/Slack.svg" alt="Slack" class="sponsors-list__logo">
            </a>
            <a href="#" class="sponsors-list__item">
                <img src="./assets/img/Google.svg" alt="Google" class="sponsors-list__logo">
            </a>
        </div>
    </div>
</section>