<section class="try">
    <div class="container">
        <div class="try-content">
            <h1 class="try-content__title">Try Whitepace today</h1>
            <p class="try-content__description">Get started for free. Add your whole team as your needs grow.</p>
            <button class="btn btn-primary btn-arrow">
                Try Taskey free
                <img class="try-btn-arrow"  src="./assets/img/arrow-right.svg" alt="button arrow">
            </button>
            <p class="try-content__link">On a big team? <a href="#">Contact sales</a></p>
            <div class="try-content-icons">
                <img src="./assets/img/apple-black-logo.svg" alt="apple logo">
                <img src="./assets/img/windows-logo.svg" alt="windows logo">
                <img src="./assets/img/android-logo.svg" alt="android logo">
            </div>
        </div>
    </div>
</section>