<section class="work-everywhere">
    <div class="container">
        <div class="work-everywhere-content">
            <h2 class="work-everywhere__title">
                Your work, everywhere you are
                <svg class="work-everywhere__title-line">
                    <use href="#title-line"></use>
                </svg>
            </h2>
            <p class="work-everywhere__description">Access your notes from your computer, phone or tablet by synchronising with various services, including whitepace, Dropbox and OneDrive. The app is available on Windows, macOS, Linux, Android and iOS. A terminal app is also available!</p>
            <button class="btn btn-primary btn-arrow">
                Try Taskey
                <img src="./assets/img/arrow-right.svg" alt="arrow right">
            </button>
        </div>
    </div>
</section>