<section class="your-data">
    <div class="container">
        <div class="your-data-content">
            <div class="your-data-text">
                <h1 class="your-data-title">
                    100% your data
                    <svg class="your-data-title__line">
                        <use href="#title-line"></use>
                    </svg>
                </h1>
                <p class="your-data-description">The app is open source and your notes are saved to an open format, so you'll always have access to them. Uses End-To-End Encryption (E2EE) to secure your notes and ensure no-one but yourself can access them.</p>
                <button class="btn btn-primary btn-arrow">
                    Read more
                    <img src="./assets/img/arrow-right.svg" alt="arrow right" class="your-data-btn-img">
                </button>
            </div>
            <div class="your-data-wrapper">
                <img src="./assets/img/your-data.svg" alt="your data img" class="your-data-img">
            </div>
        </div>
    </div>
</section>